{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Головна сторінка</h1>

    <div id="div1">
        <img  id="img1" src="{% static 'main/img/sema.jpg' %}" alt="photo">
        <h2>Сема</h2>
    </div>

    <div id="div2" >
        <img id="img2" src="{% static 'main/img/danil.jpg' %}" alt="photo">
        <h2>Даніл</h2>
    </div>
    
    <div id="div3">
        <img id="img3" src="{% static 'main/img/ludmila.jpg' %}" alt="photo">
        <h2>Людмила</h2>
    </div>

    <div id="div4">
        <img id="img4" src="{% static 'main/img/feliks.jpg' %}" alt="photo">
        <h2>Фелікс</h2>
    </div>
{% endblock %}
