{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <p>hobbies page</p>
    <p>danil my hobbies</p>
    <p>sema: У моєму житті є два хобі, які є для мене особливо важливими та надзвичайно захоплюючими: програмування та волейбол. <br> Кожне з них надає мені унікальну можливість виразити себе та знайти задоволення у різних аспектах мого життя. <br>
        Програмування - це моя невичерпна джерело творчості та виразу. <br> Почавши вивчати програмування на ранньому етапі мого життя, я швидко покохав цю сферу. <br> Я вивчав різні мови програмування, такі як Python та  C++ і розробляв різні програми та додатки. <br> Це дозволило мені виробити аналітичні навички та здатність розв'язувати складні завдання. <br> Програмування також відкрило переді мною багато можливостей у сфері роботи та творчості. <br>
        Загалом, моє хобі програмування та волейбол доповнюють одне одного у моєму житті. <br> Програмування надає мені творчий вираз та розвиток розуму, тоді як волейбол дарує фізичну активність та соціальні можливості. <br> Обидва ці хобі роблять моє життя більш барвистим та насиченим, і я не можу уявити своє життя без них.</p>
{% endblock %}