{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Сторінка хоббі</h1>
    
    <div class='our_hobbies'>
        <p>Даніл: В мене є декілька хоббі,наприклад настільний теніс,в теніс я граю недовго,
            <br> десь приблизно 4 місяці,але на мою думку за чей час я нормально навчився грати,ще я полюбляю грати в шахи, <br>
            <br> в шахи я краще граю ніж в теніс, нажаль я можу грати лише з однією людиною,частіше за все я його виграю.</p>
    </div>    
    
    <div class='our_hobbies'>
        <p>Людмила: Моє хоббі це малювання і танці. Малюванням я займаюсь професійно вже 8 років і мені це дуже подобається.</p>
    </div>

    <div class='our_hobbies'>
        <p>Фелікс: мої хобі це малювання, я люблю малювати без чітких рамок, я дуже рідко використовую лінійку для малювання,
            <br> я малюю звичайною ручкою з досить швидкою швидкістю. <br>
        </p>
    </div>

    <div class='our_hobbies'>
        <p>Сема: У моєму житті є два хобі, які є для мене особливо важливими та надзвичайно захоплюючими: програмування та волейбол. 
            <br> Кожне з них надає мені унікальну можливість виразити себе та знайти задоволення у різних аспектах мого життя. <br>
            Програмування - це моя невичерпна джерело творчості та виразу. 
            <br> Почавши вивчати програмування на ранньому етапі мого життя, я швидко покохав цю сферу. 
            <br> Я вивчав різні мови програмування, такі як Python та  C++ і розробляв різні програми та додатки. 
            <br> Це дозволило мені виробити аналітичні навички та здатність розв'язувати складні завдання. 
            <br> Програмування також відкрило переді мною багато можливостей у сфері роботи та творчості. 
            <br> Загалом, моє хобі програмування та волейбол доповнюють одне одного у моєму житті. 
            <br> Програмування надає мені творчий вираз та розвиток розуму, тоді як волейбол дарує фізичну активність та соціальні можливості. 
            <br> Обидва ці хобі роблять моє життя більш барвистим та насиченим, і я не можу уявити своє життя без них.</p>
    </div>
{% endblock %}