{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <p>education page</p>
    <p>danil my education</p>
    <p>sema: Моє перше знайомство із навчанням відбулося у дошкільному закладі, де я вивчав базові предмети. <br> Вже тоді мені було цікаво вчитися новому і досліджувати навколишній світ. <br> Шкільні роки також були для мене важливими, оскільки саме там я отримав основи знань, які допомогли мені в подальшому. <br> Зараз я навчаюсь в коледжі, маю стипендію. Поміж цього я відвідую гуртки та додатково розвиваюсь.</p>
{% endblock %}