{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Сторінка освіти</h1>
    
    <div class='our_education'>
        <p>Даніл: Окрім школи я навчався програмуванню,я навчився створювати додатки для комп'ютера, 
            <br> наприклад: музичний плеєр, створювач QR-Code і так далі,навчився працювати в команді, <br>
            <br> навчився висловлювати свою думку,до речі мені це допомагає в житті,а ще краще логічно мислю.</p>
    </div>

    <div class='our_education'>
        <p>Людмила: Я навчаюсь онлайн в українській школі та офлайн в польскій.</p>
    </div>
    
    <div class='our_education'>
        <p>Фелікс: я прийшов до школи декілька років тому, та вчусь там досі, також я займаюсь програмуванням у школі WORLD IT.</p>
    </div>

    <div class='our_education'>
        <p>Сема: Моє перше знайомство із навчанням відбулося у дошкільному закладі, де я вивчав базові предмети. 
            <br> Вже тоді мені було цікаво вчитися новому і досліджувати навколишній світ. 
            <br> Шкільні роки також були для мене важливими, оскільки саме там я отримав основи знань, які допомогли мені в подальшому. 
            <br> Зараз я навчаюсь в коледжі, маю стипендію. Поміж цього я відвідую гуртки та додатково розвиваюсь.</p>
    </div>
{% endblock %}