{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Сторінка досягнень</h1>
    <div class="our_achievements">
        <p>Даніл: Я 3 роки тому отримав золоту медаль з шахів.Потім я почав вчити програмування та робити проекти,
            <br> у мене виходило,але свою роботу я зробив вперше наприкінці другого року навчання, <br> 
            <br> в тому ж періоді ще зробив 2 проекти.</p>
    </div>

    <div class="our_achievements">
        <p>Людмила: Програмуванню я навчаюсь вже 2 роки. В основному я вивчаю мову програмування python.</p>
    </div>
    
    <div class="our_achievements">
        <p>Фелікс: Протягом останніх років я встиг завершити не малу кількість проєктів на python, також нещодавно закінчив проєкт на javascript
            <br>дуже багато годин я провів працюю над програмуванням, і продовжую працювати.<br>
        </p>
    </div>

    <div class="our_achievements">
    <p>Сема: Протягом останніх років я працював над розвитком своїх навичок у програмуванні і досягнув деяких значущих результатів. <br> Ось деякі з моїх головних досягнень у цій галузі: <br>
        Мови програмування: Я маю досвід роботи з Python на середньому рівні. Засвоїв базові знання та ООП, працював з різними бібліотеками. Зробив не малу кількість проєктів. <br>
        Бази даних: Я вивчив NoSQL бази даних, такі як MongoDB. Я створював бази даних, розробляв запити та створював API для взаємодії з ними. <br>
        Робота в команді: Я маю досвід роботи в команді програмістів на різних проектах. Ми успішно спільно розробляли та вдосконалювали програми, дотримуючись графіків та завдань проекту. <br>
        Навчання та саморозвиток: Я постійно навчаюсь новим технологіям та підходам у програмуванні. Це включає в себе вивчення нових бібліотек, фреймворків. <br>
        Зараз я вивчаю розробку веб-додатків, працюю з  різними веб-технологіями, такі як HTML, CSS і JavaScript, та вже створив кілька веб-сайтів та веб-додатків.</p>
    </div>
{% endblock %}