{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <p>leisure page</p>
    <p>danil my leisure</p>
    <p>sema: Для мене відпочинок завжди був важливим аспектом мого життя. <br> Це той час, коли я можу відкрити для себе нові місця, розслабитися та відновити енергію після тяжкої робочої неділі. <br> І серед всіх можливих способів відпочинку, моїм найулюбленішим є зустріч з друзями або зайнятися хоббі. <br>
        Один з улюблених способів проведення часу з друзями для мене - це прогулянки по нічному небу та грати разом в якусь компь' ютерну гру. <br> Також ми обговорюємо події у своєму житті, обмінюємося планами та прагнемо підтримувати один одного. <br>
        Також ми влаштовуємо веселі вечірки або виїзди на природу. Грати у настільні ігри, <br> співати відомі пісні під гітару, розпалювати багаття і готувати маршмеллоу - це завжди створює незабутні спогади.</p>
        <img src="{% static 'main/img/photo.jpg' %}" alt="photo">
{% endblock %}
