{% extends 'main/base.html' %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock %}
{% block content %}
    <h1>Сторінка дозвілля</h1>
    
    <div class='our_leisure'>
        <p>Даніл: У свій вільний час я займаюсь спортом,вивчаю пайтон,граю зі своєю сім'єю в карти та розмовляю по телефону з друзями,
            <br> дивлюсь серіали,а також трошки граю в ноутбуці</p>
    </div>

    <div class='our_leisure'>
        <p>Людмила: Зазвичай коли у мене є вільний час я можу робити багато різних справ. 
            <br> Наприклад: дивлюсь серіали, готую, слухаю музику ибо спілкуюсь з друзями.</p>
    </div>

    <div class='our_leisure'>
        <p>Фелікс: я проводжу свій вільний час спокійно, можу погуляти, або відпочити з сім'єю.</p>
    </div>
    
    <div class='our_leisure'>
        <p>Сема: Для мене відпочинок завжди був важливим аспектом мого життя. 
            <br> Це той час, коли я можу відкрити для себе нові місця, розслабитися та відновити енергію після тяжкої робочої неділі. 
            <br> І серед всіх можливих способів відпочинку, моїм найулюбленішим є зустріч з друзями або зайнятися хоббі. 
            <br> Один з улюблених способів проведення часу з друзями для мене - це прогулянки по нічному небу та грати разом в якусь компь' ютерну гру. 
            <br> Також ми обговорюємо події у своєму житті, обмінюємося планами та прагнемо підтримувати один одного. 
            <br> Також ми влаштовуємо веселі вечірки або виїзди на природу. Грати у настільні ігри, 
            <br> співати відомі пісні під гітару, розпалювати багаття і готувати маршмеллоу - це завжди створює незабутні спогади.</p>
    </div>
{% endblock %}
